@mixin changePasswordStyles(){
    .change-password-wrapper{
        @include flexCenter();
        @include fullScreen();
        font-family: $montSerrat;
        flex-direction: column;
        header{
            text-align: center;
            @include flexCenter();
            width: 60%;
            margin-bottom: 2.5em;
            h1{
                color: $mainBlueColor;
            }
        }
        .inputs-wrapper{
            width: 80%;
            @include flexCenter();
            flex-direction: column;
            @media(min-width: 1024px){
                width: 30%;
            }
            .input{
                width: 100%;
                @include formInput();
            }
        }
        .change-password-btn{
            width: 80%;
            text-align: center;
            padding: .75em !important;
            @include mainBlueButton();
            @media(min-width: 1024px){
                width: 15%;
            }
        }
    }
}