@mixin landingPageStyles(){
    .landing-page-wrapper{
        margin-top: 10vh;
        @include flexCenter();
        width: 100vw;
        height: 90vh;
        font-family: $montSerrat;
    /*    background: url('./images/landingPageImage2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;*/
        flex-direction: column;
        text-align: center;
        text-shadow: 2.5px 2.5px $mainDark;
        .main-header{
            color: $mainBlueColor;
            margin-bottom: .5em;
        }
        .middle-section{
            color: $mainWhite;
            margin-bottom: .5em;
        }
        .sub-section{
            color: $mainWhite;
            font-size: 1.5em;
            a{
                color: $mainBlueColor;
            }   
            .free-text{
                color: $mainBlueColor;
            }
        }
    }
}