@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap');

$mainBlueColor: #39c6f1;
$montSerrat: 'MontSerrat','sans-serif';
$oswald: 'Oswald','sans-serif';
$mainDark: #0c0c0c;
$mainWhite: #fcf8f8;
$purpleLight: #A831FF;
$mainGray: rgb(215, 214, 216);