@import '../functions/functions.scss';
@import '../functions/navbarFunctions/navbarFunctions.scss';
@import './loginPageStyles/loginPage.scss';
@import './registerPageStyles/registerPage.scss';
@import './singleTaskPageStyles/singleTaskPageStyles.scss';
@import './addMapPostStyles/addMapPostStyles.scss';
@import './settingsPageStyles/settingPageStyles.scss';
@import './settingsLinksStyles/changePasswordStyles/changePasswordStyles.scss';
@import './userProfileStyles/userProfileStyles.scss';
@import './mapPageStyles/mapPageStyles.scss';
@import './settingsLinksStyles/deleteUserAccount/deleteUserAccountStyles.scss';
@import '../functions/footerFunctions.js/footerFunctions.scss';

*{
    @include basicPageStylingRemove();
    body{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        nav{
        @include nav();

            .logo{ @include logo(); }

            .navbar-links{ @include navbarLinks(); }

            .hamburger{ @include hamburger(); }

            .responsive-navbar-wrapper{ @include responsiveNavbarWrapper(); }
        }

        @include loginPage();

        @include registerPage();

        @include singleTaskPage();

        @include addMapPost();

        @include settingsPage();

        @include changePasswordStyles();

        @include userProfileStyles();
      
        @include mapPageStyles();

        .popup-btn{
            @include mainBlueButton();
        }

        @include deleteUserAccount();

        .edit-task-description-wrapper{
            @include fullScreen();
            @include flexCenter();
            flex-direction: column;
            font-family: $montSerrat;
            header{
                text-align: center;
                margin-bottom: .5em; 
                h1{
                    color: $mainBlueColor;
                }
            }
            .edit-task-input{
                margin: .75em 0;
                width: 60%;
                height: 30%;
                resize: none;
                @media(min-width: 1024px){
                    width: 50%;
                }
            }
            .edit-task-button{
                padding: .75em !important;
                @include mainBlueButton();
            }
        }

        @include footer();
    }   
}