@import url("https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

* body nav {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
}

* body nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 100%;
  color: #39c6f1;
  font-family: "MontSerrat", "sans-serif";
}

@media (min-width: 1024px) {
  * body nav .logo {
    width: 25%;
  }
}

* body nav .navbar-links {
  display: none;
  width: 0vw;
  height: 0vh;
}

@media (min-width: 1024px) {
  * body nav .navbar-links {
    width: 70%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

* body nav .navbar-links a {
  font-family: "MontSerrat", "sans-serif";
  color: #0c0c0c;
  text-decoration: none;
}

* body nav .navbar-links a:hover {
  color: #A831FF;
}

* body nav .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4em;
  width: 40%;
  height: 100%;
  color: #0c0c0c;
}

@media (min-width: 1024px) {
  * body nav .hamburger {
    display: none;
    width: 0vw;
    height: 0vh;
  }
}

* body nav .responsive-navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 90vh;
  background: #2c3e50;
  top: 80px;
  -webkit-transition: all .5;
  transition: all .5;
}

@media (min-width: 1024px) {
  * body nav .responsive-navbar-wrapper {
    z-index: -1;
    display: none;
  }
}

* body nav .responsive-navbar-wrapper a {
  margin: 1em 0;
  font-size: 1.4em;
  font-family: "MontSerrat", "sans-serif";
  color: #fcf8f8;
  text-decoration: none;
}

* body .login-page-section {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "MontSerrat", "sans-serif";
}

* body .login-page-section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80vw;
}

@media (min-width: 1024px) {
  * body .login-page-section header {
    width: 100vw;
  }
}

* body .login-page-section header h1 {
  font-size: 1.8em;
  margin-bottom: .5em;
  color: #39c6f1;
}

* body .login-page-section header p {
  color: #0c0c0c;
}

* body .login-page-section .divide-section-50-50 {
  margin-top: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100%;
}

@media (min-width: 1024px) {
  * body .login-page-section .divide-section-50-50 {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media (min-width: 1024px) {
  * body .login-page-section .divide-section-50-50 {
    width: 60%;
  }
}

* body .login-page-section .divide-section-50-50 .inputs-wrapper {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 0;
  border-right: 0;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  * body .login-page-section .divide-section-50-50 .inputs-wrapper {
    width: 100%;
    border-right: 1.5px dotted #d7d6d8;
    padding-right: 3em;
  }
}

* body .login-page-section .divide-section-50-50 .inputs-wrapper .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
}

* body .login-page-section .divide-section-50-50 .inputs-wrapper .input:last-child {
  margin-bottom: 0em;
}

* body .login-page-section .divide-section-50-50 .inputs-wrapper .input label {
  text-align: left;
  color: #0c0c0c;
}

* body .login-page-section .divide-section-50-50 .inputs-wrapper .input input {
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
  padding: .45em;
  border-radius: 5px;
}

* body .login-page-section .divide-section-50-50 .inputs-wrapper .login-button {
  background: #39c6f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf8f8;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
}

* body .login-page-section .divide-section-50-50 .inputs-wrapper .login-button:hover {
  background: #d7d6d8;
  cursor: pointer;
}

* body .login-page-section .divide-section-50-50 .login-slogan {
  font-size: 2em;
  color: #39c6f1;
  display: none;
}

@media (min-width: 1024px) {
  * body .login-page-section .divide-section-50-50 .login-slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

* body .register-page-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .register-page-wrapper header {
  margin-top: 5.25em;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80vw;
  font-family: "MontSerrat", "sans-serif";
}

@media (min-width: 1024px) {
  * body .register-page-wrapper header {
    width: 100vw;
  }
}

* body .register-page-wrapper header h1 {
  font-size: 1.8em;
  margin-bottom: .5em;
  color: #39c6f1;
}

* body .register-page-wrapper header p {
  color: #0c0c0c;
}

* body .register-page-wrapper .register-inputs-wrapper {
  width: 85%;
  font-family: "MontSerrat", "sans-serif";
  color: #0c0c0c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  * body .register-page-wrapper .register-inputs-wrapper {
    width: 30%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr .5fr 1fr 1fr;
        grid-template-columns: 1fr 1fr .5fr 1fr 1fr;
  }
}

* body .register-page-wrapper .register-inputs-wrapper .input {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
}

@media (min-width: 1024px) {
  * body .register-page-wrapper .register-inputs-wrapper .input {
    width: 100%;
  }
}

* body .register-page-wrapper .register-inputs-wrapper .input:last-child {
  margin-bottom: 0em;
}

* body .register-page-wrapper .register-inputs-wrapper .input label {
  text-align: left;
  color: #0c0c0c;
}

* body .register-page-wrapper .register-inputs-wrapper .input input {
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
  padding: .45em;
  border-radius: 5px;
}

* body .register-page-wrapper .register-inputs-wrapper .first-input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

* body .register-page-wrapper .register-inputs-wrapper .second-input {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

* body .register-page-wrapper .register-inputs-wrapper .third-input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

* body .register-page-wrapper .register-inputs-wrapper .fourth-input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

* body .register-page-wrapper .register-inputs-wrapper .fifth-input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

* body .register-page-wrapper .register-inputs-wrapper .sixth-input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

* body .register-page-wrapper .register-inputs-wrapper .seventh-input {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

* body .register-page-wrapper .register-inputs-wrapper .eight-input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

* body .register-page-wrapper .register-inputs-wrapper .nineth-input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

* body .register-page-wrapper .register-inputs-wrapper .tenth-input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

* body .register-page-wrapper .register-button {
  font-family: "MontSerrat", "sans-serif" !important;
  padding: .75em 1.2em !important;
  background: #39c6f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf8f8;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
}

* body .register-page-wrapper .register-button:hover {
  background: #d7d6d8;
  cursor: pointer;
}

* body .single-task-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "MontSerrat", "sans-serif";
}

* body .single-task-wrapper header {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .single-task-wrapper header h1 {
  color: #39c6f1;
  font-size: 1.15em;
}

@media (min-width: 1024px) {
  * body .single-task-wrapper header h1 {
    font-size: 1.5em;
  }
}

* body .single-task-wrapper header p {
  color: #0c0c0c;
  font-size: .8em;
}

@media (min-width: 1024px) {
  * body .single-task-wrapper header p {
    font-size: 1em;
  }
}

* body .single-task-wrapper .task-description {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2em 0;
}

* body .single-task-wrapper .task-contact-section {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  * body .single-task-wrapper .task-contact-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

* body .single-task-wrapper .task-contact-section .task-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .single-task-wrapper .task-contact-section .task-btn {
  padding: .25em !important;
  background: #39c6f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf8f8;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
  text-align: center;
}

* body .single-task-wrapper .task-contact-section .task-btn:hover {
  background: #d7d6d8;
  cursor: pointer;
}

@media (min-width: 1024px) {
  * body .single-task-wrapper .task-contact-section .task-btn {
    padding: .75em !important;
  }
}

* body .single-task-wrapper .task-contact-section .task-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #fcf8f8;
  font-weight: bold;
  text-decoration: none;
}

* body .add-task-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "MontSerrat", "sans-serif";
}

* body .add-task-wrapper header {
  margin-bottom: 1em;
  color: #39c6f1;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .add-task-wrapper .inputs-wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  * body .add-task-wrapper .inputs-wrapper {
    width: 40%;
  }
}

* body .add-task-wrapper .inputs-wrapper .input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
}

* body .add-task-wrapper .inputs-wrapper .input:last-child {
  margin-bottom: 0em;
}

* body .add-task-wrapper .inputs-wrapper .input label {
  text-align: left;
  color: #0c0c0c;
}

* body .add-task-wrapper .inputs-wrapper .input input {
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
  padding: .45em;
  border-radius: 5px;
}

* body .add-task-wrapper .add-map-post-btn {
  width: 80%;
  background: #39c6f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf8f8;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
}

* body .add-task-wrapper .add-map-post-btn:hover {
  background: #d7d6d8;
  cursor: pointer;
}

@media (min-width: 1024px) {
  * body .add-task-wrapper .add-map-post-btn {
    width: 20%;
  }
}

* body .setings-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "MontSerrat", "sans-serif";
}

* body .setings-page-wrapper header {
  margin-bottom: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

* body .setings-page-wrapper header h1 {
  color: #0c0c0c;
  font-weight: bold;
  font-size: 2.4em;
}

* body .setings-page-wrapper .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .setings-page-wrapper .links-wrapper .settings-link {
  padding: .75em !important;
  background: #39c6f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf8f8;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
  text-align: center;
}

* body .setings-page-wrapper .links-wrapper .settings-link:hover {
  background: #d7d6d8;
  cursor: pointer;
}

* body .setings-page-wrapper .links-wrapper .settings-link a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf8f8;
  text-decoration: none;
}

* body .change-password-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "MontSerrat", "sans-serif";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .change-password-wrapper header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin-bottom: 2.5em;
}

* body .change-password-wrapper header h1 {
  color: #39c6f1;
}

* body .change-password-wrapper .inputs-wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  * body .change-password-wrapper .inputs-wrapper {
    width: 30%;
  }
}

* body .change-password-wrapper .inputs-wrapper .input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
}

* body .change-password-wrapper .inputs-wrapper .input:last-child {
  margin-bottom: 0em;
}

* body .change-password-wrapper .inputs-wrapper .input label {
  text-align: left;
  color: #0c0c0c;
}

* body .change-password-wrapper .inputs-wrapper .input input {
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.03);
  padding: .45em;
  border-radius: 5px;
}

* body .change-password-wrapper .change-password-btn {
  width: 80%;
  text-align: center;
  padding: .75em !important;
  background: #39c6f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf8f8;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
}

* body .change-password-wrapper .change-password-btn:hover {
  background: #d7d6d8;
  cursor: pointer;
}

@media (min-width: 1024px) {
  * body .change-password-wrapper .change-password-btn {
    width: 15%;
  }
}

* body .user-profile-page-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "MontSerrat", "sans-serif";
  margin-top: 8em;
}

* body .user-profile-page-wrapper .image-date-section {
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

@media (min-width: 1024px) {
  * body .user-profile-page-wrapper .image-date-section {
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
  }
}

* body .user-profile-page-wrapper .basic-user-data {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .user-profile-page-wrapper .contact-user-data {
  margin: 1em 0;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .user-profile-page-wrapper .description-section {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .user-profile-page-wrapper .description-section header {
  color: #39c6f1;
}

* body .user-profile-page-wrapper .description-section .user-has-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .user-profile-page-wrapper .description-section .user-has-description .remove-description-button {
  text-align: center;
  padding: .5em !important;
  background: #c4302b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf8f8;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
}

* body .user-profile-page-wrapper .description-section .user-has-description .remove-description-button:hover {
  background: #cf5a56;
  cursor: pointer;
}

* body .user-profile-page-wrapper .description-section .user-has-description .edit-description-button {
  text-align: center;
  padding: .5em !important;
  background: #d7d6d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0c0c0c;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
}

* body .user-profile-page-wrapper .description-section .user-has-description .edit-description-button:hover {
  background: #ece1e1;
  cursor: pointer;
}

* body .user-profile-page-wrapper .description-section .user-has-description textarea {
  width: 80vw;
}

* body .user-profile-page-wrapper .description-section .description-text {
  width: 100%;
}

* body .user-profile-page-wrapper .description-section .description-text .description-btn {
  width: 100%;
  background: #39c6f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf8f8;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
}

* body .user-profile-page-wrapper .description-section .description-text .description-btn:hover {
  background: #d7d6d8;
  cursor: pointer;
}

@media (min-width: 1024px) {
  * body .user-profile-page-wrapper .description-section .description-text .description-btn {
    width: 25%;
  }
}

* body .user-profile-page-wrapper .user-tasks-wrapper {
  margin-top: 3em;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .user-profile-page-wrapper .user-tasks-wrapper header {
  text-align: center;
  margin-bottom: 1em;
}

* body .user-profile-page-wrapper .user-tasks-wrapper header h1 {
  color: #39c6f1;
}

* body .user-profile-page-wrapper .user-tasks-wrapper .user-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 2px solid #d7d6d8;
  padding: 1.5em 0;
}

* body .user-profile-page-wrapper .user-tasks-wrapper .user-task .user-task-buttons {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  * body .user-profile-page-wrapper .user-tasks-wrapper .user-task .user-task-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

* body .user-profile-page-wrapper .user-tasks-wrapper .user-task .user-task-buttons .user-task-delete-btn {
  text-align: center;
  padding: .5em !important;
  background: #c4302b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf8f8;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
}

* body .user-profile-page-wrapper .user-tasks-wrapper .user-task .user-task-buttons .user-task-delete-btn:hover {
  background: #cf5a56;
  cursor: pointer;
}

* body .user-profile-page-wrapper .user-tasks-wrapper .user-task .user-task-buttons .user-task-edit-btn {
  text-align: center;
  padding: .5em !important;
  background: #d7d6d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0c0c0c;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
}

* body .user-profile-page-wrapper .user-tasks-wrapper .user-task .user-task-buttons .user-task-edit-btn:hover {
  background: #ece1e1;
  cursor: pointer;
}

* body .map-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "MontSerrat", "sans-serif";
}

* body .map-page-wrapper header {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 1.5em;
}

@media (min-width: 1024px) {
  * body .map-page-wrapper header {
    margin-top: 2em;
  }
}

* body .map-page-wrapper header h1 {
  color: #39c6f1;
}

* body .map-page-wrapper .map-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .map-page-wrapper .location-info {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0c0c0c;
}

* body .map-page-wrapper .location-info p {
  font-size: .45em;
  color: #fcf8f8;
}

* body .map-page-wrapper .location-tasks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .map-page-wrapper .location-tasks .tasks-wrapper {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  * body .map-page-wrapper .location-tasks .tasks-wrapper {
    width: 75%;
  }
}

* body .map-page-wrapper .location-tasks .tasks-wrapper .task-wrapper {
  padding: .75em;
  border: 1px dotted #d7d6d8;
  width: 100%;
}

* body .map-page-wrapper .location-tasks .tasks-wrapper .task-wrapper .descripton {
  margin: 1em 0;
}

@media (min-width: 1024px) {
  * body .map-page-wrapper .location-tasks .tasks-wrapper .task-wrapper .descripton {
    margin: .5em 0;
  }
}

* body .map-page-wrapper .location-tasks .tasks-wrapper .task-wrapper .check-task {
  text-align: center;
  background: #39c6f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf8f8;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
}

* body .map-page-wrapper .location-tasks .tasks-wrapper .task-wrapper .check-task:hover {
  background: #d7d6d8;
  cursor: pointer;
}

* body .map-page-wrapper .location-tasks .tasks-wrapper .task-wrapper .check-task a {
  text-decoration: none;
  color: #fcf8f8;
  width: 100%;
  height: 100%;
}

* body .popup-btn {
  background: #39c6f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf8f8;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
}

* body .popup-btn:hover {
  background: #d7d6d8;
  cursor: pointer;
}

* body .delete-user-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "MontSerrat", "sans-serif";
}

* body .delete-user-account header {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5em;
}

* body .delete-user-account header h1 {
  font-weight: bold;
  font-size: 3em;
  color: #39c6f1;
}

* body .delete-user-account .confirm-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .delete-user-account .confirm-wrapper .confirm-button {
  text-align: center;
  padding: .75em !important;
  background: #c4302b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf8f8;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  margin-top: 1em;
  padding: .4em 0;
  font-weight: bold;
  font-size: 1.15em;
  border-radius: 3px;
}

* body .delete-user-account .confirm-wrapper .confirm-button:hover {
  background: #cf5a56;
  cursor: pointer;
}

* body footer {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  margin-top: 4em;
  background: #191919;
}

* body footer .footer-links-wrapper {
  border-bottom: 1px solid #999;
}

* body footer .footer-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  * body footer .footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr 1fr 2fr;
  }
}

* body footer .footer-container .footer-links-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-direction: column;
}

* body footer .footer-container .footer-links-section ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 60%;
}

* body footer .footer-container .footer-links-section ul li {
  margin: .25em;
  cursor: pointer;
  list-style: none;
}

* body footer .footer-container .footer-links-section ul li a {
  text-decoration: none;
  color: #f4f4f4;
}

* body footer .footer-container .footer-links-section ul .links-header {
  color: #f4f4f4;
  font-size: 1.4em;
  font-family: "Oswald", "sans-serif";
}

@media (min-width: 1024px) {
  * body footer .footer-container .footer-links-section ul .links-header {
    font-size: 1.2em;
  }
}

* body footer .footer-container .footer-links-section ul .about {
  margin: .5em;
  color: #999;
}

* body footer .footer-container .footer-links-section ul .about:hover {
  color: #aaa;
}

* body footer .footer-container .footer-links-section ul .about a {
  color: #999;
}

* body footer .footer-container .footer-links-section ul .about a:hover {
  color: #f4f4f4;
}

* body footer .footer-container .under-footer {
  color: #fff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

* body footer .footer-container .under-footer p {
  margin: .5em;
  color: #999;
}

* body footer .social-media-wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0;
}

@media (min-width: 1024px) {
  * body footer .social-media-wrapper {
    padding: 0em;
  }
}

* body footer .social-media-wrapper .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50%;
  width: 70%;
}

* body footer .social-media-wrapper .social-media .social-href {
  text-decoration: none;
  color: #999;
}

* body footer .social-media-wrapper .social-media .social-href:hover {
  cursor: pointer;
  color: #f4f4f4;
}

* body footer .social-media-wrapper .social-media .social-href .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
}
/*# sourceMappingURL=app.css.map */